.characters-section {
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 240px;
}

.character-stats {
  font-size: 12px;
}

.actionButton {
  position: absolute;
  right: 10%;
  text-transform: uppercase;
}
